body{
    margin: 10px;
    box-sizing: border-box;
    background-color: #999;
}

input{
    margin: 0;
}

.submit{
    display: block;
}
.submit:has(input:valid){
    margin-left: 0px;
}

.submit:hover{
    margin-left: 80px;
}

.container{
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 2px solid #000;
    position: relative;
}