body{
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* ESTA ES LA SECCION DEL NAVBAR */

.header, a, li, ul{
    box-sizing: border-box;
}

.header{
    background: linear-gradient(to left, #FFA400 5%, #FF6F45);
    box-shadow: 0px 0px 10px 0px #0007;
    margin: 0px;
    box-sizing: border-box;
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-navbar{
        box-sizing: border-box;
        font-family: sans-serif;
        
        flex-grow: 1;
        margin: auto;
    }
    
    .material-symbols-outlined{
        margin: auto;
        flex-grow: 10;
        padding-left: 30px;
    }
    
    .material-symbols-outlined{
        color: #bbb;
    }
    
    .main-navbar ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;

}

.main-navbar li {
    padding: 0px;
    list-style: none;
    margin: 5px 0px;
}

.list-container{
    flex-grow: 5;
}

.main-navbar a {
    background-color: #F646;
    margin: 3.5px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 7px 8px;
    border-radius: 6px;
    transition-property: border-radius;
    transition-duration: 0.5s;
}

.main-navbar a:hover{
    border-radius: 40px;
}

li > .button-navbar{
    color: #F64b;
    background-color: #eee;
}

/* ESTA ES LA PARTE DEL MAIN */

.main-wrapper{
    box-sizing: border-box;;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 15px;
}

main{
    margin: auto;

}

.main a{
    display: inline-block;
    font-family: sans-serif;
    margin-top: 30px;
}

.main > a:nth-of-type(1){
    color: #eee;
    background-color: #101928;
    padding: 15px 40px;
    border-radius: 10px;
    text-decoration: none;
}

.main > a:nth-of-type(2){
    color: #101928;
    margin: 10px 0px;
    border: 1px solid #0005;
    padding: 15px 30px;
    border-radius: 10px;
}

h1{
    font-size: 3em;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 + p{
    max-width: 1400px;
    font-size: 1.8em;
    color: #A5A2A6;
    margin: 0px;
    font-family: sans-serif;
}


.img-ia{
    width: 100%;
    margin: auto;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 0px;
}

/* ESTA ES LA PARTE DE LA CATEGORIAS */

.categories{
    max-width: 100%;
    min-height: 200px;
    padding: 30px;
    background-color: #EDEAEA;
    box-sizing:border-box;
}

.title-categories{
    margin: 16px 0px;
}

.categories h2{
    margin: 0px;
    margin: auto;
    margin-top: 2px;
    text-align: center;
    font-size: 2em;
}

.categories p{
    font-family: sans-serif;
}

h2 + p{  
    text-wrap: pretty;
    color: #777;
    text-align: center;
    font-size: 1.5em;
}

.categories p:first-child{
    font-size: 1.5em;
    text-align: center;
}

/* TIPOS DE CATEGORIAS */

.section-categories p{
    color: #777;
}

.section-categories h3{
    font-size: 1.5em;
}

@media screen and (min-width: 1000px){
    .section-categories{
        padding-left: 10px;
    }
}

/* ESTA ES LA PARTE DEL INICIO DE SECCION */

.recond{
    margin: auto;
    padding: 30px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.recond h2{
    text-align: center;
}

.recond p{
    font-family: sans-serif;
}

.recond h2, p{
    margin: auto;
    font-size: 1.5em;
    margin: 10px 0px;
}

.recond-data{
    margin: auto;
}


input{
    width: 200px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    border: 1px solid #0006;
}

input:valid{
    color: green;
}

input::placeholder{
    font-weight: bolder;
}

input:focus-visible{
    outline: none;
}

.button{
    width: 90px;
    padding: 7px 0px;
    border-radius: 5px;
    border: none;
    background-color: #1c1c1c;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #0006;
}

.terms-condition{
    text-align: center;
    padding: 4px 0px;
    font-size: 15px;
}

.checkbox{
    width: 25px;
    margin: 0px;
    display: inline-block;
}

/* Esta es la parte del footer */

footer{
    border: 1px solid #f00;
    padding: 30px;
    background-color: #1c1c1c;
}

footer p{
    color: #fff;
    font-family:sans-serif;
}