
body{
    background-color: #eee;
    font-family: sans-serif;
}

/* Esta box lo que hace es rotar de pendiendo su ege 
    Tambien se puede usar el ege X & Y de pendiendo la nesecidad
*/

.box1-text{
    color: #fff;
    font-size: 2em;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    transition-property: transform, border-radius;
    transition-duration: 0.5;
}

.box-rotate{
    width: 200px;
    height: 200px;
    padding: 0.1px;
    background-color: #48e;
    margin: 50px;
    position: relative;
}

.box-rotate:hover{
    border-radius: 7px;
    transform: rotate(360deg);
    transition: 1.5s;
}

/* Esta box lo que hace es una scale  es como si aumentara su tamaño
    Tambine se puede usar el ege X & Y de pendiendo la nesecidad
*/

.box2-text{
    text-align: center;
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    margin-top: 80px;
}

.box-scale{
    width: 200px;
    height: 200px;
    background-color: #FF3900;
    margin: 50px;
    position: relative;
    transition-property: transform, border-radius;
    transition-duration: 1s;
}

.box-scale:hover{
    border-radius: 7px;
    transform: scale(1.5);
    translate: 1.5;
}