body{
    font-family: sans-serif;
    background-color: #999;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body, div, header, nav,ul, footer{
    box-sizing: border-box;
}

p{
    text-wrap:pretty;
}

h1 h2{
    text-wrap: balance;
}

header, footer{
    width: 100%;
}


/* HEADER */
.main-navbar{
    background-color: #1c1c1c;
}

.main-navbar ul{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.main-navbar li{
    list-style: none;
    margin:5px;
}

.main-navbar a {
    color: #fff;
    display: inline-block;
    padding: 20px 9px;
}

.main-navbar a:hover {
    background-color: #fff5;
    border-radius: 40px;
}

nav a{
    text-decoration: none;
}

/* NAVBAR SECUNDARY */

.secondary-navbar{
    text-align: center;
}

.secondary-navbar h2{
    text-align: center;
}

.secondary-navbar ul{
    padding: 0px;
}

.secondary-navbar li{
    list-style: none;
    margin: 5px;
}

.secondary-navbar ul{
    min-width: 17rem;
}

.secondary-navbar a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

aside:last-child{
    min-width: 10rem;
}

/* MAIN SECTION */

.main-wrapper{
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    flex-grow:1;
    gap: 7px;
}

aside, main{
    padding: 20px;
    text-align: justify;

    background-color: #fff;
}

/* footer */

footer{
    margin-top: auto;
    background-color: #1c1c1c;
    color: #fff;
    padding: 35px;
    text-align: center;
    font-size: 20px;
}




@media screen and (max-width: 900px){
    aside:last-child{
        display: none;
    }
}

@media screen and (max-width: 900px){
    .main-wrapper{
        flex-direction: column;
    }
}